@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-transform: inherit;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}
button :hover,
a:hover {
    opacity: 20;
}
